* {
    font-size: 15px;
    font-family: "Symbols Nerd Font Mono";
}

tooltip label {
    font-size: 15px;
    color: #66BB6A;
}

window#waybar {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background: #242424;
    padding: 3px 3px;
    border-radius: 10px;
}

.module,
#workspaces button {
    padding: 0px 10px;
    color: #5c5d8d;
}
:hover.module {
    color: #f7a278;
}

#workspaces button:hover {
    color: #f7a278;
    border-color: #242424;
}
#workspaces button.active {
    color: #66BB6A;
    border-radius: 20px;
}
#workspaces button.urgent {
    color: #88292f;
    border-radius: 20px;
}

#power-profiles-daemon {
    padding-left: 0px;
}

#tray,
#custom-arch,
#custom-hypr {
    padding: 3px 5px;
    padding-right: 5px;
    background-color: #393A3B;
    border-radius: 7px;
    color: #66BB6A;
}

@keyframes blink_high {
    to {
        color: #66BB6A;
    }
}

#battery.overcharged.charging {
    animation-name: blink_high;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.2,0,0,1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink_low {
    to {
        color: #ffffff;
        background-color: #88292f;
        border-radius: 10px;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink_low;
    border-radius: 10px;
    animation-duration: .8s;
    animation-timing-function: cubic-bezier(.42,0,.58,1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
